<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <script src="https://cdn.bootcss.com/vue/2.5.1/vue.min.js"></script> -->
	<script src="../origin-code/vue.js"></script>
</head>
<body>
	<div id="app">
	<div>
		<input v-model="title">
		<button v-on:click="add">submit</button>
	</div>
	<ul>
		<li v-for="item in list">{{item}}</li>
	</ul>
</div>
<!-- <script src="https://cdn.bootcss.com/vue/2.5.1/vue.min.js"></script> -->
<script type="text/javascript">
	var vm = new Vue({
		el: '#app',
		data: {
			title: '',
			list: []
		},
		methods: {
			add: function() {
				this.list.push(this.title)
				this.title = ''
			}
		}
	})
</script>
</body>
</html>